/* color-palette */
.color-palette {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	border-radius: 8px;
}

.color-palette .info {
	display: flex;
	flex-direction: column;
}

.color-palette .info span {
	font-size: 15px;
	line-height: 24px;
}

/* color */
.color-palette .blue,
.color-palette .black,
.color-palette .white {
	display: flex;
	flex-direction: column;
	gap: var(--gap-atom);
	padding: var(--margin-default);
}

/* blue */
.color-palette .blue {
	background: #5A46FA;
}

.color-palette .blue span {
	color: var(--color-white);
}

/* black */
.color-palette .black {
	background: #000000;
}

.color-palette .black span {
	color: var(--color-white);
}

/* white */
.color-palette .white {
	background: #FFFFFF;
}

.color-palette .white span {
	color: var(--color-black);
}