/* header */
header {
	position: fixed;
	z-index: 999;
	top: -1px;
	left: 0;
	opacity: 0;
	/* animation */
	animation: 1.4s var(--ease) 0s 1 normal forwards movein;
	-webkit-animation: 1.4s var(--ease) 0s 1 normal forwards movein;
}

nav {
	display: flex;
	align-items: center;
	height: calc(var(--margin-nav) + 1px);
}

nav a {
	position: absolute;
	z-index: 99;
	display: flex;
	align-items: center;
	gap: 6px;
	padding: 4px 14px;
}

nav a span {
	font-size: 15px;
	font-weight: 600;
	line-height: 24px;
	color: var(--color-white);
}

nav a svg {
	fill: var(--color-white);
}

nav a div {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	height: 100%;
	border-radius: 18px;
	background: var(--color-btn);
	/* transition */
	transition: all .2s ease;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-ms-transition: all .2s ease;
	-o-transition: all .2s ease;
}

nav a:hover div {
	background: var(--color-btn-hover);
}

header .blog a {
	padding: 4px;
	/* transition */
	transition: all .2s ease;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-ms-transition: all .2s ease;
	-o-transition: all .2s ease;
}

header .blog a:hover {
	opacity: .6;
}

header .blog .bg {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	height: var(--margin-nav);
	opacity: 0;
	background: var(--color-bg);
}

header .progress {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 100%;
	height: 1px;
	background: rgba(255, 255, 255, .12);
}

header .progress .bar {
	width: 0%;
	height: 1px;
	background: var(--color-fg-muted);
}

#title {
	position: fixed;
	z-index: 999;
	display: none;
	top: 0;
	left: calc(50% - 120px);
	width: 240px;
	height: var(--margin-nav);
}

#title span {
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	position: absolute;
	display: block;
	top: calc(50% - 12px);
	width: 100%;
}

/* footer */
footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--gap-default);
	padding: var(--margin-row) var(--margin-column);
	background: var(--color-bg);
}

footer span {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: var(--gap-atom) var(--gap-default);
}

footer span a:hover {
	opacity: .6;
}

footer a {
	font-size: 15px;
	font-weight: 500;
	line-height: 20px;
	text-transform: capitalize;
	color: var(--color-blue);
	/* transition */
	transition: all .2s ease;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-ms-transition: all .2s ease;
	-o-transition: all .2s ease;
}

footer .copyright {
	font-weight: 500;
	color: var(--color-fg-subtle);
}

/* navigation */
.navigation {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: var(--gap-default);
}

.navigation .item {
	overflow: hidden;
	border-radius: 8px;
	background: var(--color-bg-box);
	background-position: center;
	background-size: 100%;
}

.navigation .item:hover .hook {
	top: 0;
	/* transform */
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
}

.navigation .item .info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: var(--margin-default) var(--margin-atom);
	background: rgba(0, 0, 0, .5);
}

.navigation .item .info span {
	margin-right: 8px;
	color: var(--color-white);
}

/* main */
.home {
	padding: var(--margin-row) var(--margin-column) 8rem;
	margin-top: var(--margin-nav);
}

/* home */
.about {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: var(--gap-default);
	max-width: 476px;
	margin: 0 auto;
}

.about .profile {
	flex-shrink: 0;
	overflow: hidden;
	width: 4.5rem;
	height: 4.5rem;
	margin: 0 auto;
	border-radius: 50%;
	background-position: center;
	background-size: cover;
}

.about .bio {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: var(--gap-atom);
}

.about .bio p {
	color: var(--color-fg-muted);
	margin: 0 2rem;
}

.about .bio a {
	text-decoration: underline;
	color: var(--color-fg);
}

.about .menu {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	margin: var(--margin-atom) 0;
}

.about .menu a {
	/* transition */
	transition: all .2s ease;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-ms-transition: all .2s ease;
	-o-transition: all .2s ease;
}

.about .menu a:hover {
	opacity: .6;
}

.about .menu div {
	flex-shrink: 0;
	width: 2px;
	height: .75rem;
	background: var(--color-fg-subtle);
}

.about .item a {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1.25rem 1.5rem;
	border-radius: .75rem;
	background: var(--color-bg-box);
	/* transition */
	transition: all .2s ease;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-ms-transition: all .2s ease;
	-o-transition: all .2s ease;
}

.about .item a:hover {
	background: var(--color-bg-box-hover);
	/* transform */
	-webkit-transform: scale(1.03);
	-ms-transform: scale(1.03);
	transform: scale(1.03);
}

.about .item a svg {
	fill: var(--color-fg-subtle);
}

/* resume */
.resume {
	display: flex;
	flex-direction: column;
	gap: var(--gap-default);
	max-width: var(--width-narrow);
	margin: 0 auto;
}

.resume .item {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: var(--gap-atom);
	padding: var(--margin-default);
	border-radius: .75rem;
	background: var(--color-bg-box);
}

.resume .item .portrait,
.work .item .portrait {
	flex-shrink: 0;
	overflow: hidden;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background-position: center;
	background-size: cover;
}

.resume .item svg {
	fill: var(--color-fg-subtle);
}

.resume .item .node {
	position: absolute;
	display: flex;
	flex-shrink: 0;
	flex-direction: column;
	align-items: center;
	gap: var(--gap-atom);
	width: 48px;
	height: 100%;
}

.resume .item .node-dot {
	display: flex;
	flex-shrink: 0;
	align-items: center;
	justify-content: center;
	height: 52px;
}

.resume .item .node-dot span {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: var(--color-fg-muted);
}

.resume .item .node-path {
	width: 2px;
	height: 100%;
	background: var(--color-fg-thin);
}

/* work */
.work {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: var(--gap-default);
	max-width: var(--width-stretch);
	margin: 0 auto;
}

.work .item {
	overflow: hidden;
	border-radius: .75rem;
	background: var(--color-bg-box);
}

.work .item a {
	display: block;
}

.work .item .intro {
	position: absolute;
	z-index: 1;
	display: flex;
	flex-direction: column;
	gap: var(--gap-atom);
	top: 0;
	left: 0;
	height: 100%;
	padding: var(--margin-default) var(--margin-default) 4rem;
	/* filter */
	mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) calc(100% - 4rem), rgba(0, 0, 0, 0) calc(100% - 1rem));
	-webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) calc(100% - 4rem), rgba(0, 0, 0, 0) calc(100% - 1rem));
}

.work .item .intro a {
	text-decoration: underline;
	display: inline;
}

.work .item .info {
	position: absolute;
	z-index: -1;
	display: flex;
	align-items: center;
	justify-content: space-between;
	left: -1px;
	bottom: -1px;
	width: calc(100% + 2px);
	padding: var(--margin-row) var(--margin-default) var(--margin-default);
	visibility: hidden;
	opacity: 0;
	color: var(--color-white);
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .04) 10%, rgba(0, 0, 0, .48) 70%, rgba(0, 0, 0, .64) 100%);
	-webkit-background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .04) 10%, rgba(0, 0, 0, .48) 70%, rgba(0, 0, 0, .64) 100%);
	/* transition */
	transition: all .4s ease;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-ms-transition: all .4s ease;
	-o-transition: all .4s ease;
}

.work .item .info h5 {
	margin-right: 8px;
	color: var(--color-white);
}

.work .item:hover .info {
	visibility: visible;
	opacity: 1;
}

.work .item .frame {
	z-index: -2;
	padding: 50%;
	/* transition */
	transition: none !important;
	animation: none !important;
	-webkit-transition: none !important;
	-webkit-animation: none !important;
	-o-transition: none !important;
}

/* project state */
.state {
	flex-shrink: 0;
	width: 24px;
	height: 24px;
}

.locked {
	position: absolute;
	top: 2px;
	left: 7px;
}

.hook {
	position: absolute;
	top: 2px;
	left: 7px;
	visibility: visible;
	/* transition */
	transition: all .6s var(--swing);
	-webkit-transition: all .6s var(--swing);
	-moz-transition: all .6s var(--swing);
	-ms-transition: all .6s var(--swing);
	-o-transition: all .6s var(--swing);
	/* transform */
	-webkit-transform-origin: 9px 11px;
	-ms-transform-origin: 9px 11px;
	transform-origin: 9px 11px;
	-webkit-transform: rotateY(0);
	transform: rotateY(0);
}

.rack {
	position: absolute;
	left: 5px;
	bottom: 1px;
}

.work .item:hover .hook {
	top: 0;
	/* transition */
	transition-delay: .25s;
	-webkit-transition-delay: .25s;
	-o-transition-delay: .25s;
	/* transform */
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
}

/* thumbnail */
#smile,
#tap,
#map,
#c42,
#neon,
#visual {
	background: var(--color-bg);
	background-position: center;
	background-size: cover;
}

#smile {
	background-image: url("../work/source/smile.jpg");
}

#tap {
	background-image: url("../work/source/tap.jpg");
}

#map {
	background-image: url("../work/source/map.jpg");
}

#c42 {
	background-image: url("../work/source/42dot.jpg");
}

#neon {
	background-image: url("../work/source/neon.jpg");
}

#visual {
	background-image: url("../work/source/visual.jpg");
}

/* project */
.content {
	z-index: 9;
	display: flex;
	flex-direction: column;
	gap: var(--margin-row);
	padding: var(--margin-row) var(--margin-column) 8rem;
	margin-top: var(--margin-cover);
	background: var(--color-bg);
}

/* cover */
.cover {
	position: fixed;
	z-index: -99;
	top: 0;
	left: 0;
	height: var(--margin-cover);
	padding: 0;
	margin: 0;
}

.cover .glass {
	position: absolute;
	z-index: 1;
	top: 0;
	height: 100%;
	opacity: 0;
	background: var(--color-bg);
}

.cover .dim {
	position: absolute;
	top: 0;
	height: 100%;
	background: linear-gradient(to top, var(--color-bg-to) 0%, var(--color-bg-from) 99%);
	-webkit-background: linear-gradient(to top, var(--color-bg-to) 0%, var(--color-bg-from) 99%);
}

#c-smile,
#c-tap,
#c-map,
#c-c42,
#c-neon,
#c-visual {
	background: var(--color-bg);
	background-position: center;
	background-size: cover;
}

#c-smile {
	background-image: url("../work/smile/source/cover.jpg");
}

#c-tap {
	background-image: url("../work/tap/source/cover.jpg");
}

#c-map {
	background-image: url("../work/maps/source/cover.jpg");
}

#c-c42 {
	background-image: url("../work/42dot/source/cover.jpg");
}

#c-neon {
	background-image: url("../work/neon/source/cover.jpg");
}

#c-visual {
	background-image: url("../work/visual/source/cover.jpg");
}

/* gallery */
.content .gallery,
.content .image {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: var(--gap-default);
}

/* image */
.modal {
	cursor: zoom-in;
	overflow: hidden;
}

.content-modal {
	position: fixed;
	z-index: 500;
	display: none;
	overflow: hidden;
	touch-action: none;
	top: 0;
	left: 0;
	height: 100%;
	padding: var(--margin-nav) var(--margin-default);
	background: none;
}

.content-modal-overlay {
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	height: 100%;
	background: var(--color-bg);
}

.img-modal {
	cursor: zoom-out;
	display: flex;
	overflow: hidden;
	justify-content: center;
	align-items: center;
	height: 100%;
	background: none;
}

.img-modal img {
	object-fit: contain;
	display: block;
	max-width: var(--width-stretch);
	height: auto;
	border-radius: 0;
}

/* divider */
.divider {
	margin: 8px 0;
	border-top: 1px solid var(--color-fg-thin);
}

.divider span {
	font-style: italic;
	margin-top: 8px;
	color: var(--color-fg-subtle);
}

/* media query */
@media screen and (max-width: 1440px) {

	/* work */
	.work {
		grid-template-columns: repeat(2, 1fr);
		max-width: var(--width-insert);
	}
}

@media screen and (max-width: 1024px) {

	/* work */
	.work {
		max-width: var(--width-small);
	}

	.work .form .frame {
		display: none;
	}

	/* resume */
	.resume {
		max-width: var(--width-small);
	}
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

	/* work */
	.work .form {
		grid-column: span 2;
	}

	.work .item .intro {
		position: relative;
	}
}

@media screen and (max-width: 768px) {

	/* header */
	header .main {
		background: linear-gradient(to bottom, var(--color-bg-from) 0%, var(--color-bg-to) 100%);
	}

	#title {
		left: calc(50% - 100px);
		width: 200px;
	}

	#title span {
		font-size: 18px;
	}

	/* navigation */
	.navigation {
		grid-template-columns: repeat(2, 1fr);
	}

	/* resume */
	.resume {
		max-width: var(--width-ant);
	}

	/* work */
	.work {
		grid-template-columns: 100%;
		max-width: var(--width-ant);
	}

	.work .item .intro {
		position: relative;
		mask-image: none;
		-webkit-mask-image: none;
	}

	.work .item .info {
		visibility: visible;
		opacity: 1;
	}

	.work .item .frame {
		padding: 25% 50%;
	}

	.hook {
		top: 0;
		/* transform */
		transform: rotateY(180deg);
		-webkit-transform: rotateY(180deg);
	}
}

@media screen and (max-width: 544px) {

	/* header */
	header .blog a span {
		display: none;
	}

	/* navigation */
	.navigation {
		grid-template-columns: 100%;
		gap: var(--gap-atom);
	}

	/* resume */
	.resume {
		gap: var(--margin-row);
	}

	.resume .item {
		padding: 0;
		border-radius: 0;
		background: none;
	}

	/* gallery */
	.content .image {
		grid-template-columns: 100%;
	}
}