/* parts */
/* display flex / grid */
.wrap {
	flex-wrap: wrap;
}

.fit {
	grid-column: 1/ span 2;
}

/* width */
.stretch {
	max-width: var(--width-stretch);
	margin: 0 auto;
}

.insert {
	max-width: var(--width-insert);
	margin: 0 auto;
}

.narrow {
	max-width: var(--width-narrow);
	margin: 0 auto;
}

/* margin */
.float {
	margin-top: var(--gap-atom);
	margin-bottom: var(--gap-atom);
}

.hat {
	margin-top: 8px;
}

.heel {
	margin-bottom: var(--gap-atom);
}

.toe {
	margin-bottom: 4px;
}

/* border */
.outline {
	border: 2px solid var(--color-outline);
}

/* component */
/* row */
.row-s {
	display: flex;
	align-items: center;
	gap: 4px;
}

.row-m {
	display: flex;
	align-items: center;
	gap: var(--gap-atom);
}

.row-l {
	display: flex;
	align-items: center;
	gap: var(--gap-default);
}

/* column */
.column-s {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 4px;
}

.column-m {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: var(--gap-atom);
}

.column-l {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: var(--gap-default);
}

/* image */
svg {
	flex-shrink: 0;
	fill: var(--color-fg);
}

img {
	display: block;
	width: 100%;
}

video {
	display: block;
	width: 100%;
}

div {
	img {
		border-radius: 8px;
	}

	video {
		border-radius: 8px;
	}
}

/* iframe - youtube */
iframe {
	display: block;
	width: 100%;
}

/* button link */
.link {
	font-size: 16px;
	line-height: 24px;
	z-index: 1;
	display: flex;
	align-items: center;
	gap: 4px;
	color: var(--color-fg-muted);
	transition: all .2s ease;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-ms-transition: all .2s ease;
	-o-transition: all .2s ease;

	svg {
		fill: var(--color-fg-subtle);
	}

	&:hover {
		opacity: .6;
	}
}

/* tag */
.badge {
	font-size: 14px;
	line-height: 16px;
	padding: 4px 12px;
	margin-top: 4px;
	border: 1px solid var(--color-fg-muted);
	border-radius: 12px;
	color: var(--color-fg-muted);
}

.tag {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 8px;

	li {
		font-size: 13px;
		line-height: 20px;
		padding: 2px 12px;
		border: 1px solid var(--color-fg-subtle);
		border-radius: 12px;
		color: var(--color-fg-muted);
	}
}

/* scroll indicator */
.scroll {
	position: sticky;
	z-index: 99;
	display: block;
	bottom: 0;

	.top {
		cursor: pointer;
		position: absolute;
		overflow: hidden;
		display: none;
		top: -64px;
		right: var(--margin-atom);
		width: 48px;
		height: 48px;
		outline: none;
		border-radius: 50%;

		svg {
			position: absolute;
			z-index: 1;
			top: calc(50% - 10px);
			left: calc(50% - 12px);
			fill: var(--color-white);
		}

		div {
			position: relative;
			height: 100%;
			background: var(--color-btn);
			transition: all .2s ease;
			-webkit-transition: all .2s ease;
			-moz-transition: all .2s ease;
			-ms-transition: all .2s ease;
			-o-transition: all .2s ease;
		}

		&:hover {
			div {
				background: var(--color-btn-hover);
			}
		}
	}

	.darken {
		pointer-events: none;
		position: absolute;
		z-index: -1;
		bottom: 0;
		height: 8rem;
		background: linear-gradient(to top, var(--color-bg-from) 0%, var(--color-bg-to) 100%);
	}
}

/* media query */
@media screen and (max-width: 768px) {

	/* button link */
	.link {
		font-size: 15px;
	}
}