// width
.narrow {
	max-width: var(--width-s);
	margin: 0 auto;
}

.insert {
	max-width: var(--width-m);
	margin: 0 auto;
}

.stretch {
	max-width: var(--width-l);
	margin: 0 auto;
}

// border
.outline {
	border: 2px solid var(--color-outline);
}

// column
.column {
	display: flex;
	align-items: center;
	gap: var(--spacer-s);

	&.x {
		gap: 0;
	}

	&.xxs {
		gap: var(--spacer-xxs);
	}

	&.xs {
		gap: var(--spacer-xs);
	}

	&.r {
		gap: var(--spacer-r);
	}

	&.m {
		gap: var(--spacer-m);
	}

	&.c {
		justify-content: center;
	}
}

// row
.row {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: var(--spacer-s);

	&.x {
		gap: 0;
	}

	&.xxs {
		gap: var(--spacer-xxs);
	}

	&.xs {
		gap: var(--spacer-xs);
	}

	&.r {
		gap: var(--spacer-r);
	}

	&.m {
		gap: var(--spacer-m);
	}

	&.c {
		align-items: center;
	}
}

// display flex / grid
.wrap {
	flex-wrap: wrap;
}

.fit {
	grid-column: 1 / span 2;
}

// image
figure {

	img,
	video,
	iframe {
		border-radius: var(--corner-s);
	}
}

// button link
.link {
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	z-index: 1;
	display: flex;
	align-items: center;
	gap: var(--spacer-xxs);
	color: var(--color-fg-muted);
	// transition
	transition: all .2s ease;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-ms-transition: all .2s ease;
	-o-transition: all .2s ease;

	svg {
		fill: var(--color-fg-thin);
	}

	&:hover {
		opacity: .6;
	}

	@media screen and (max-width: 768px) {
		font-size: 15px;
	}
}

// scroll indicator
.scroll {
	position: sticky;
	z-index: 99;
	display: block;
	bottom: 0;

	.top {
		cursor: pointer;
		position: absolute;
		overflow: hidden;
		display: none;
		top: -64px;
		right: var(--spacer-s);
		width: 48px;
		height: 48px;
		outline: none;
		border-radius: 50%;

		svg {
			position: absolute;
			z-index: 1;
			top: calc(50% - 10px);
			left: calc(50% - 12px);
			fill: var(--color-white);
		}

		div {
			width: 100%;
			height: 100%;
			background: var(--color-btn);
			// transition
			transition: all .2s ease;
			-webkit-transition: all .2s ease;
			-moz-transition: all .2s ease;
			-ms-transition: all .2s ease;
			-o-transition: all .2s ease;
		}

		&:hover {
			div {
				background: var(--color-btn-hover);
			}
		}
	}
}

// image modal
.modal {
	cursor: zoom-in;
	overflow: hidden;
}

.zoom {
	.content {
		cursor: zoom-out;
		position: fixed;
		z-index: 500;
		display: none;
		overflow: hidden;
		touch-action: none;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: calc(var(--top) + var(--spacer-s)) var(--side) var(--side);
		background: none;

		.overlay {
			position: absolute;
			overflow: hidden;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: var(--color-bg);
		}

		.image {
			display: flex;
			overflow: hidden;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			background: none;

			img {
				object-fit: contain;
				display: block;
				z-index: 1;
				max-width: var(--width-l);
				width: 100%;
				height: auto;
				border-radius: 0;
			}
		}

		@media screen and (max-height: 720px) {
			padding: var(--top) var(--side) var(--side);
		}
	}
}