// display flex / grid
.wrap {
	flex-wrap: wrap;
}

.fit {
	grid-column: 1 / span 2;
}

// width
.narrow {
	max-width: var(--width-s);
	margin: 0 auto;
}

.insert {
	max-width: var(--width-m);
	margin: 0 auto;
}

.stretch {
	max-width: var(--width-l);
	margin: 0 auto;
}

// border
.outline {
	border: 2px solid var(--color-outline);
}

// row
.row {
	display: flex;
	align-items: center;

	&.xxs {
		gap: var(--spacer-xxs);
	}

	&.xs {
		gap: var(--spacer-xs);
	}

	&.s {
		gap: var(--spacer-s);
	}

	&.m {
		gap: var(--spacer-m);
	}
}

// column
.column {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	&.xxs {
		gap: var(--spacer-xxs);
	}

	&.xs {
		gap: var(--spacer-xs);
	}

	&.s {
		gap: var(--spacer-s);
	}

	&.m {
		gap: var(--spacer-m);
	}
}

// image
div {

	img,
	video,
	iframe {
		border-radius: var(--corner-s);
	}
}

// button link
.link {
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	z-index: 1;
	display: flex;
	align-items: center;
	gap: var(--spacer-xxs);
	color: var(--color-fg-muted);
	// transition
	transition: all .2s ease;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-ms-transition: all .2s ease;
	-o-transition: all .2s ease;

	svg {
		fill: var(--color-fg-subtle);
	}

	&:hover {
		opacity: .6;
	}

	@media screen and (max-width: 768px) {
		font-size: 15px;
	}
}

// scroll indicator
.scroll {
	position: sticky;
	z-index: 99;
	display: block;
	bottom: 0;

	.top {
		cursor: pointer;
		position: absolute;
		overflow: hidden;
		display: none;
		top: -64px;
		right: var(--spacer-s);
		width: 48px;
		height: 48px;
		outline: none;
		border-radius: 50%;

		svg {
			position: absolute;
			z-index: 1;
			top: calc(50% - 10px);
			left: calc(50% - 12px);
			fill: var(--color-white);
		}

		div {
			height: 100%;
			background: var(--color-btn);
			// transition
			transition: all .2s ease;
			-webkit-transition: all .2s ease;
			-moz-transition: all .2s ease;
			-ms-transition: all .2s ease;
			-o-transition: all .2s ease;
		}

		&:hover {
			div {
				background: var(--color-btn-hover);
			}
		}
	}

	.darken {
		pointer-events: none;
		position: absolute;
		z-index: -1;
		bottom: 0;
		height: var(--bottom);
		background: linear-gradient(to top, var(--color-bg-from) 0%, var(--color-bg-to) 100%);
	}
}

// image modal
.modal,
.play {
	cursor: zoom-in;
	overflow: hidden;
}

.content-modal,
.content-play {
	position: fixed;
	z-index: 500;
	display: none;
	overflow: hidden;
	touch-action: none;
	top: 0;
	left: 0;
	height: 100%;
	padding: var(--top) var(--side);
	background: none;

	.overlay {
		position: absolute;
		overflow: hidden;
		top: 0;
		left: 0;
		height: 100%;
		background: var(--color-bg);
	}

	.image,
	.video {
		cursor: zoom-out;
		display: flex;
		overflow: hidden;
		justify-content: center;
		align-items: center;
		height: 100%;
		background: none;

		img,
		video {
			object-fit: contain;
			display: block;
			z-index: 1;
			max-width: var(--width-l);
			height: auto;
			border-radius: 0;
		}
	}
}