/* parts */
/* postion */
.east {
	position: absolute;
	right: var(--margin-atom);
}

.south {
	position: absolute;
	bottom: var(--margin-atom);
}

.west {
	position: absolute;
	left: var(--margin-atom);
}

/* display flex / grid */
.start {
	align-items: flex-start;
}

.wrap {
	flex-wrap: wrap;
}

.fit {
	grid-column: 1/ span 2;
}

/* width */
.stretch {
	max-width: var(--width-stretch);
	margin: 0 auto;
}

.insert {
	max-width: var(--width-insert);
	margin: 0 auto;
}

.narrow {
	max-width: var(--width-narrow);
	margin: 0 auto;
}

/* margin */
.float {
	margin-top: var(--gap-atom);
	margin-bottom: var(--gap-atom);
}

.hat {
	margin-top: 8px;
}

.heel {
	margin-bottom: var(--gap-atom);
}

.toe {
	margin-bottom: 4px;
}

/* border */
.outline {
	border: 2px solid var(--color-outline);
}