// variables
:root {

	// color theme
	@media (prefers-color-scheme: light) {
		--color-blue: rgba(65, 135, 255, 1);
		--color-white: rgba(255, 255, 255, 1);
		--color-black: rgba(0, 0, 0, 1);
		--color-overlay: rgba(0, 0, 0, .75);
		--color-fg: rgba(40, 42, 44, 1);
		--color-fg-box: rgba(72, 74, 76, 1);
		--color-fg-muted: rgba(120, 124, 128, 1);
		--color-fg-subtle: rgba(164, 168, 172, 1);
		--color-fg-thin: rgba(216, 218, 222, 1);
		--color-btn: rgba(32, 34, 36, .4);
		--color-btn-hover: rgba(32, 32, 36, .6);
		--color-outline: rgba(255, 255, 255, 0);
		--color-bg: rgba(255, 255, 255, 1);
		--color-bg-to: rgba(255, 255, 255, 0);
		--color-bg-from: rgba(255, 255, 255, .6);
		--color-bg-box: rgba(255, 255, 255, 1);
		--color-bg-box-hover: rgba(255, 255, 255, 1);
	}

	@media (prefers-color-scheme: dark) {
		--color-blue: rgba(75, 120, 235, 1);
		--color-white: rgba(255, 255, 255, 1);
		--color-black: rgba(0, 0, 0, 1);
		--color-overlay: rgba(0, 0, 0, .75);
		--color-fg: rgba(255, 255, 255, 1);
		--color-fg-box: rgba(232, 234, 236, 1);
		--color-fg-muted: rgba(164, 168, 172, 1);
		--color-fg-subtle: rgba(120, 124, 128, 1);
		--color-fg-thin: rgba(86, 88, 90, 1);
		--color-btn: rgba(224, 228, 232, .3);
		--color-btn-hover: rgba(224, 228, 232, .2);
		--color-outline: rgba(255, 255, 255, .2);
		--color-bg: rgba(0, 0, 0, 1);
		--color-bg-to: rgba(0, 0, 0, 0);
		--color-bg-from: rgba(0, 0, 0, .6);
		--color-bg-box: rgba(28, 32, 36, 1);
		--color-bg-box-hover: rgba(48, 52, 56, 1);
	}

	// spcaer
	--spacer-xxs: .25rem;
	--spacer-xs: .5rem;
	--spacer-s: 1rem;
	--spacer-r: 1.5rem;
	--spacer-m: 2rem;
	--spacer-l: 4rem;
	// spacing
	--top: 4rem;
	--side: 2rem;
	--between: 4rem;
	--bottom: 6rem;
	--cover: 24rem;
	// width
	--width-xxxs: 400px;
	--width-xxs: 544px;
	--width-xs: 624px;
	--width-s: 720px;
	--width-m: 960px;
	--width-l: 1360px;
	// border radius
	--corner-xs: .25rem;
	--corner-s: .5rem;
	--corner-m: 1rem;
	// ease
	--ease: cubic-bezier(.075, .8, .165, 1);
	--swing: cubic-bezier(.35, .4, .3, 1.6);

	// media
	@media screen and (max-width: 1440px) {
		--cover: 20rem;
	}

	@media screen and (max-width: 768px) {
		--between: 3rem;
		--cover: 16rem;
	}

	@media screen and (max-width: 544px) {
		--side: 1.5rem;
	}
}

// normalize
header,
nav,
footer,
main,
section,
article,
div,
figure,
figcaption,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
a,
hr,
svg,
img,
video,
iframe {
	position: relative;
	box-sizing: border-box;
}

header,
nav,
footer,
main {
	width: 100%;

	section,
	article,
	div,
	figure,
	img,
	video,
	iframe {
		width: 100%;
	}
}

svg {
	flex-shrink: 0;
	fill: var(--color-fg);
}

img,
video,
iframe {
	display: block;
}

video,
iframe {
	background: var(--color-bg);
}

a {
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
	color: inherit;
}

.hidden {
	display: none;
}

.invisible {
	visibility: hidden;
	opacity: 0;
}

// document
html {
	font-family: 'Inter', 'Noto Sans KR', sans-serif;
	font-size: 20px;
	font-weight: 400;
	word-break: keep-all;
	font-display: fallback;
	-webkit-font-display: fallback;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: none;
	-moz-font-smoothing: antialiased;
	-moz-text-size-adjust: none;
	-ms-font-smoothing: antialiased;
	-ms-text-size-adjust: none;
	-o-font-smoothing: antialiased;
	-o-text-size-adjust: none;
	-moz-osx-font-smoothing: grayscale;
	-ms-overflow-style: none;
	scrollbar-width: none;
	height: 100%;
	color: var(--color-fg);
	background: var(--color-bg);

	&#main {

		// theme
		@media (prefers-color-scheme: light) {
			background: rgba(242, 243, 246, 1);
		}

		@media (prefers-color-scheme: dark) {
			background: var(--color-bg);
		}
	}

	&#about {

		// theme
		@media (prefers-color-scheme: light) {
			background: rgba(242, 243, 246, 1);

			// media
			@media screen and (max-width: 544px) {
				background: var(--color-bg);
			}
		}

		@media (prefers-color-scheme: dark) {
			background: var(--color-bg);
		}
	}

	// media
	@media screen and (max-width: 1440px) {
		font-size: 18px;
	}

	@media screen and (max-width: 768px) {
		font-size: 16px;
	}
}

body {
	height: 100%;

	@at-root {
		::selection {
			color: var(--color-white);
			background: var(--color-blue);
		}

		// scroll hidden
		::-webkit-scrollbar {
			width: 0;
			background: transparent;
			-webkit-appearance: none;
		}
	}

	// preload
	&.loading {
		// transition
		transition: none !important;
		-webkit-transition: none !important;
		-moz-transition: none !important;
		-ms-transition: none !important;
		-o-transition: none !important;
		// animation
		animation: none !important;
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-ms-animation: none !important;
		-o-animation: none !important;

		* {
			// transition
			transition: none !important;
			-webkit-transition: none !important;
			-moz-transition: none !important;
			-ms-transition: none !important;
			-o-transition: none !important;
			// animation
			animation: none !important;
			-webkit-animation: none !important;
			-moz-animation: none !important;
			-ms-animation: none !important;
			-o-animation: none !important;
		}
	}
}

// typography
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
	line-height: 1.25em;
}

h1 {
	font-size: 5rem;
}

h2 {
	font-size: 3.5rem;
}

h3 {
	font-size: 2.5rem;
}

h4 {
	font-size: 2rem;
}

h5 {
	font-size: 1.5rem;
}

h6 {
	font-size: 1.25rem;
}

p {
	font-size: 16px;
	line-height: 28px;
	color: var(--color-fg-box);

	strong,
	b {
		font-weight: 500;
		color: var(--color-fg);
	}

	// media
	@media screen and (max-width: 768px) {
		font-size: 15px;
		line-height: 26px;
	}
}

ul {
	list-style: disc;
	padding-left: 20px;

	::marker {
		color: var(--color-fg-muted);
	}

	li {
		font-size: 16px;
		line-height: 28px;
		color: var(--color-fg-box);

		* {
			display: block;
		}

		span {
			margin-bottom: var(--spacer-xxs);
		}

		// media
		@media screen and (max-width: 768px) {
			font-size: 15px;
			line-height: 26px;
		}
	}

	&.checklist {
		display: flex;
		flex-direction: column;
		gap: var(--spacer-xxs);
		padding: 0;

		li {
			display: flex;
			gap: var(--spacer-xs);
		}
	}
}

ol {
	&.tag {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: var(--spacer-xs);

		li {
			font-size: 12px;
			font-weight: 500;
			line-height: 16px;
			letter-spacing: -.01em;
			padding: 4px 12px;
			border-radius: 12px;
			color: var(--color-fg-box);

			// theme
			@media (prefers-color-scheme: light) {
				background: rgba(48, 52, 56, .08);
			}

			@media (prefers-color-scheme: dark) {
				background: rgba(255, 255, 255, .2);
			}
		}
	}
}

// figure
figcaption {
	font-size: 16px;
	font-weight: 500;
	line-height: 20px;
	text-overflow: ellipsis;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	word-wrap: break-word;
	display: -webkit-box;
	overflow: hidden;
	margin-top: var(--spacer-xs);
	color: var(--color-fg-subtle);

	// media
	@media screen and (max-width: 768px) {
		font-size: 15px;
	}
}

// span text
span {
	font-weight: 500;

	&.label {
		font-size: 20px;
		line-height: 28px;

		a {
			// transition
			transition: all .2s ease;
			-webkit-transition: all .2s ease;
			-moz-transition: all .2s ease;
			-ms-transition: all .2s ease;
			-o-transition: all .2s ease;

			&:hover {
				opacity: .6;
			}
		}

		// media
		@media screen and (max-width: 768px) {
			font-size: 18px;
			line-height: 26px;
		}
	}

	&.nail {
		font-size: 18px;
		line-height: 28px;

		a {
			// transition
			transition: all .2s ease;
			-webkit-transition: all .2s ease;
			-moz-transition: all .2s ease;
			-ms-transition: all .2s ease;
			-o-transition: all .2s ease;

			&:hover {
				opacity: .6;
			}
		}

		// media
		@media screen and (max-width: 768px) {
			font-size: 16px;
			line-height: 26px;
		}
	}

	&.brow {
		font-size: 16px;
		line-height: 24px;
		color: var(--color-fg-muted);

		// media
		@media screen and (max-width: 768px) {
			font-size: 15px;
		}
	}

	&.lashes {
		font-size: 16px;
		line-height: 20px;
		color: var(--color-fg-muted);

		a {
			// transition
			transition: all .2s ease;
			-webkit-transition: all .2s ease;
			-moz-transition: all .2s ease;
			-ms-transition: all .2s ease;
			-o-transition: all .2s ease;

			&:hover {
				opacity: .6;
			}
		}

		// media
		@media screen and (max-width: 768px) {
			font-size: 15px;
		}
	}

	&.badge {
		font-size: 14px;
		line-height: 16px;
		padding: 4px 12px;
		border: 1px solid var(--color-blue);
		border-radius: 12px;
		color: var(--color-blue);

		&.a {
			border: 1px solid var(--color-fg-subtle);
			color: var(--color-fg-muted);
		}
	}

	&.tail {
		font-size: 12px;
		padding: 2px 6px;
		border: 1px solid var(--color-fg-subtle);
		border-radius: 9px;
		color: var(--color-fg-box);
	}
}