<div class="color-palette">
    <div class="blue">
        <span class="label">42dot Blue</span>
        <div class="info">
            <span>Pantone 2131 C</span>
            <span>C 77 / M 68 / Y 0 / K 0</span>
            <span>R 90 / G 70 / B 250</span>
            <span>#5A46FA</span>
        </div>
    </div>
    <div class="black">
        <span class="label">Black</span>
        <div class="info">
            <span>C 0 / M 0 / Y 0 / K 100</span>
            <span>R 0 / G 0 / B 0</span>
            <span>#000000</span>
        </div>
    </div>
    <div class="white">
        <span class="label">White</span>
        <div class="info">
            <span>C 0 / M 0 / Y 0 / K 0</span>
            <span>R 255 / G 255 / B 255</span>
            <span>#FFFFFF</span>
        </div>
    </div>
</div>