/* graph-container */
.graph-container {
	display: flex;
	flex-direction: column;
	gap: var(--gap-default);
	margin: var(--gap-atom) 0;
}

.graph-container .item {
	display: flex;
	flex-direction: column;
	gap: var(--gap-atom);
}

.graph-container .item ul {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.graph-container .graph {
	display: grid;
	grid-template-columns: 60px 80px auto;
	gap: var(--gap-atom);
}

.graph-container .graph span {
	font-size: 16px;
	font-weight: 500;
	line-height: 28px;
	white-space: nowrap;
	width: 100%;
	color: var(--color-fg-box);
}

.graph-container .rate {
	width: 100%;
	margin: 4px 0;
}

.graph-container .rate div {
	height: 100%;
	border-radius: 0 4px 4px 0;
}

/* graph color */
.graph-container .blue {
	background: #367BF4;
}

.graph-container .gray {
	background: #7d7d7d;
}