<div class="pin-container">
    <div class="poi">
        <span class="poi-name">인천국제공항</span>
        <div class="pin">
            <img class="pin-head" src="source/pin-transport.png">
            <div class="pin-body">
                <span class="pin-leg"></span>
                <span class="pin-shadow"></span>
            </div>
        </div>
    </div>
    <div class="aim">
        <span class="coor">&#8592; Hover here</span>
        <span class="coor-name">POI</span>
        <div class="coordinates"></div>
        <div class="hl"></div>
        <div class="vl"></div>
    </div>
</div>