<a class="item" id="smile-h">
    <div class="info column">
        <span class="nail with-icon">Smile Delivery</span>
        <!-- locked -->
        <div class="state">
            <svg class="locked" width="10" height="12" viewBox="0 0 10 12" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M10 5C10 2.23858 7.76142 0 5 0C2.23858 0 0 2.23858 0 5V11C0 11.5523 0.447715 12 1 12C1.55228 12 2 11.5523 2 11V5C2 3.34315 3.34315 2 5 2C6.65685 2 8 3.34315 8 5V12H10V5Z"
                    fill="white" />
            </svg>
            <svg class="rack" width="14" height="12" viewBox="0 0 14 12" fill="none">
                <path
                    d="M0 2C0 0.895431 0.895431 0 2 0H12C13.1046 0 14 0.895431 14 2V10C14 11.1046 13.1046 12 12 12H2C0.89543 12 0 11.1046 0 10V2Z"
                    fill="white" />
            </svg>
        </div>
    </div>
    <span class="hidden">Gmarket Smile Delivery UT Project Cover Image</span>
</a>
<a class="item" id="tap-h">
    <div class="info column">
        <span class="nail with-icon">TAP! 0.1</span>
        <!-- locked -->
        <div class="state">
            <svg class="locked" width="10" height="12" viewBox="0 0 10 12" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M10 5C10 2.23858 7.76142 0 5 0C2.23858 0 0 2.23858 0 5V11C0 11.5523 0.447715 12 1 12C1.55228 12 2 11.5523 2 11V5C2 3.34315 3.34315 2 5 2C6.65685 2 8 3.34315 8 5V12H10V5Z"
                    fill="white" />
            </svg>
            <svg class="rack" width="14" height="12" viewBox="0 0 14 12" fill="none">
                <path
                    d="M0 2C0 0.895431 0.895431 0 2 0H12C13.1046 0 14 0.895431 14 2V10C14 11.1046 13.1046 12 12 12H2C0.89543 12 0 11.1046 0 10V2Z"
                    fill="white" />
            </svg>
        </div>
    </div>
    <span class="hidden">TAP! Robo-taxi UX Project Cover Image</span>
</a>
<a class="item" id="map-h" href="../maps/">
    <div class="info column">
        <span class="nail with-icon">42dot Map SDK</span>
        <!-- unlocked -->
        <div class="state">
            <svg class="hook" width="10" height="12" viewBox="0 0 10 12" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M10 5C10 2.23858 7.76142 0 5 0C2.23858 0 0 2.23858 0 5V11C0 11.5523 0.447715 12 1 12C1.55228 12 2 11.5523 2 11V5C2 3.34315 3.34315 2 5 2C6.65685 2 8 3.34315 8 5V12H10V5Z"
                    fill="white" />
            </svg>
            <svg class="rack" width="14" height="12" viewBox="0 0 14 12" fill="none">
                <path
                    d="M0 2C0 0.895431 0.895431 0 2 0H12C13.1046 0 14 0.895431 14 2V10C14 11.1046 13.1046 12 12 12H2C0.89543 12 0 11.1046 0 10V2Z"
                    fill="white" />
            </svg>
        </div>
    </div>
    <span class="hidden">42dot Map SDK Design Project Cover Image</span>
</a>
<a class="item" id="c42-h" href="../42dot/">
    <div class="info column">
        <span class="nail">42dot Branding</span>
    </div>
    <span class="hidden">42dot Brand Renewal Project Cover Image</span>
</a>
<a class="item" id="neon-h" href="../neon/">
    <div class="info column">
        <span class="nail">Neon Theme</span>
    </div>
    <span class="hidden">Hyundai-Mnsoft Neon Theme Project Cover Image</span>
</a>
<a class="item" id="visual-h" href="../visual/">
    <div class="info column">
        <span class="nail">Visual Journey</span>
    </div>
    <span class="hidden">Visual Journey Project Cover Image</span>
</a>