/* color-palette */
.color-palette {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	border-radius: var(--corner-s);

	.info {
		display: flex;
		flex-direction: column;
		gap: var(--gap-xxs);

		span {
			font-size: 15px;
			line-height: 24px;
		}
	}

	.blue {
		display: flex;
		flex-direction: column;
		gap: var(--gap-s);
		padding: var(--margin-m);
		background: #5A46FA;

		span {
			color: var(--color-white);
		}
	}

	.black {
		display: flex;
		flex-direction: column;
		gap: var(--gap-s);
		padding: var(--margin-m);
		background: #000000;

		span {
			color: var(--color-white);
		}
	}

	.white {
		display: flex;
		flex-direction: column;
		gap: var(--gap-s);
		padding: var(--margin-m);
		background: #FFFFFF;

		span {
			color: var(--color-black);
		}
	}
}