<div class="graph-container">
    <div class="item">
        <span class="brow">새벽배송 태그 디자인 선호도 사전조사</span>
        <ul>
            <li class="graph">
                <span>A - 로고</span>
                <span>20%(4명)</span>
                <div class="rate">
                    <div class="gray" style="width: 20%;"></div>
                </div>
            </li>
            <li class="graph">
                <span>B - 뱃지</span>
                <span>80%(16명)</span>
                <div class="rate">
                    <div class="blue" style="width: 80%"></div>
                </div>
            </li>
        </ul>
    </div>
</div>