<div class="graph-container">
    <div class="graph-item">
        <span class="brow">새벽배송 상세정보 입력 수행률 - 1차</span>
        <ul>
            <li class="graph">
                <span>1회</span>
                <span>19%(6명)</span>
                <div class="rate">
                    <div class="smile-blue" style="width: 19%;"></div>
                </div>
            </li>
            <li class="graph">
                <span>2회 내</span>
                <span>50%(16명)</span>
                <div class="rate">
                    <div class="smile-gray" style="width: 50%;"></div>
                </div>
            </li>
            <li class="graph">
                <span>3회 이상</span>
                <span>31%(10명)</span>
                <div class="rate">
                    <div class="smile-gray" style="width: 31%;"></div>
                </div>
            </li>
        </ul>
    </div>
</div>