<div class="graph-container">
    <div class="item">
        <span class="brow">배송주소록 선호도</span>
        <ul>
            <li class="graph">
                <span>긍정적</span>
                <span>56%(18명)</span>
                <div class="rate">
                    <div class="blue" style="width: 56%;"></div>
                </div>
            </li>
            <li class="graph">
                <span>부정적</span>
                <span>28%(9명)</span>
                <div class="rate">
                    <div class="gray" style="width: 28%;"></div>
                </div>
            </li>
            <li class="graph">
                <span>상관없음</span>
                <span>16%(5명)</span>
                <div class="rate">
                    <div class="gray" style="width: 16%;"></div>
                </div>
            </li>
        </ul>
    </div>
</div>