<div class="graph-container">
    <div class="graph-item">
        <span class="brow">새벽배송 상세정보 입력 수행률 - 2차</span>
        <ul>
            <li class="graph">
                <span>1회</span>
                <span>90%(15명)</span>
                <div class="rate">
                    <div class="smile-blue" style="width: 90%;"></div>
                </div>
            </li>
            <li class="graph">
                <span>2회 내</span>
                <span>10%(1명)</span>
                <div class="rate">
                    <div class="smile-gray" style="width: 10%;"></div>
                </div>
            </li>
        </ul>
    </div>
</div>