<div class="graph-container">
    <div class="graph-item">
        <span class="brow">배송 정보 새로고침 동작 수행률</span>
        <ul>
            <li class="graph">
                <span>수행완료</span>
                <span>19%(6명)</span>
                <div class="rate">
                    <div class="smile-blue" style="width: 19%;"></div>
                </div>
            </li>
            <li class="graph">
                <span>수행실패</span>
                <span>47%(15명)</span>
                <div class="rate">
                    <div class="smile-gray" style="width: 47%;"></div>
                </div>
            </li>
            <li class="graph">
                <span>이탈</span>
                <span>34%(11명)</span>
                <div class="rate">
                    <div class="smile-gray" style="width: 34%;"></div>
                </div>
            </li>
        </ul>
    </div>
</div>