<div class="graph-container">
    <div class="item">
        <span class="brow">새벽배송 태그 인지성</span>
        <ul>
            <li class="graph">
                <span>긍정적</span>
                <span>75%(24명)</span>
                <div class="rate">
                    <div class="blue" style="width: 75%;"></div>
                </div>
            </li>
            <li class="graph">
                <span>기타</span>
                <span>25%(8명)</span>
                <div class="rate">
                    <div class="gray" style="width: 25%"></div>
                </div>
            </li>
        </ul>
    </div>
    <div class="item">
        <span class="brow">멤버십 전용 혜택 인지성</span>
        <ul>
            <li class="graph">
                <span>긍정적</span>
                <span>81%(26명)</span>
                <div class="rate">
                    <div class="blue" style="width: 81%;"></div>
                </div>
            </li>
            <li class="graph">
                <span>기타</span>
                <span>19%(6명)</span>
                <div class="rate">
                    <div class="gray" style="width: 19%"></div>
                </div>
            </li>
        </ul>
    </div>
</div>