<div class="graph-container">
    <div class="item">
        <span class="brow">하단 타이머 선호도</span>
        <ul>
            <li class="graph">
                <span>긍정적</span>
                <span>37%(12명)</span>
                <div class="rate">
                    <div class="blue" style="width: 37%;"></div>
                </div>
            </li>
            <li class="graph">
                <span>부정적</span>
                <span>28%(9명)</span>
                <div class="rate">
                    <div class="gray" style="width: 28%;"></div>
                </div>
            </li>
            <li class="graph">
                <span>상관없음</span>
                <span>34%(11명)</span>
                <div class="rate">
                    <div class="gray" style="width: 34%;"></div>
                </div>
            </li>
        </ul>
    </div>
</div>